/* Variables */
$white: #FAFBFC;
$whitePure: #fff;
$black: #232323;
$blackLight: #3b3b37;
$ligthGray: #6A6A6A96;
$gray: #CED0BB;
$green: #61CE70;
$darkWhite: #F1EFEB;
$darkGreen: #9da554;
$ligthYellow: #E6E8D6;
$red: #dc3545;
$blue: #17a2b8;